body {
  background: #bfbfbf;
  font-family: verdana, arial, sans-serif;
  font-family: 'verdana';
}

* {
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-top: 50px;
}

.first_form {
  width: 293px;
  height: 230px;
  background: linear-gradient(to right, #dbf1fa, #e7f6fc);
  padding: 22px 30px;
  box-shadow: 0.1px 3px 3px #888888, -0.1px -0.1px 3px #888888;
}

.first_form_wrapper {
  display: flex;
  flex-direction: column;
  background: url(../img/border.png) 0 0 no-repeat;
  padding-left: 38px;
}

.first_form_wrapper_title {
  font-size: 20px;
  font-style: italic;
  color: #787878;
  padding: 33px 0 14px;
  position: relative;
}

.first_form_wrapper_title::before {
  content: "";
  width: 26px;
  height: 17px;
  right: 204px;
  background: url(../img/ic-key.png) 50% 6px no-repeat;
  position: absolute;
}

.first_form_wrapper_title a {
  font-size: 16px;
  font-style: normal;
  color: #1b6fb6;
  text-decoration: underline;
}

.first_form_wrapper label {
  font-size: 14px;
  color: #787878;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first_form_wrapper :nth-child(3) {
  margin-top: 10px;
}

.first_form_wrapper_login, .first_form_wrapper_password {
  width: 135px;
  height: 20px;
  background: linear-gradient(#f6f7f8 #ebecf0);
  border: none;
  box-shadow: inset 1px 1px 1px #d0d6dc, inset -1px -1px 1px #f2f2f5;
  border-radius: 3px;
}

.first_checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first_input_checkbox {
  display: none;
}

.first_checkbox label::before {
  content: "";
  width: 17px;
  height: 16px;
  margin-right: 2px;
  background: url(../img/check.png) 0 0 no-repeat;
}

.first_checkbox input:checked+label::before {
  background-position: 0 -32px;
}

.first_form_wrapper_send {
  width: 72px;
  height: 25px;
  margin-left: 31px;
  color: #fff;
  border: 1px solid #4c726f;
  border-radius: 3px;
  background: #2da683;
  box-shadow: inset 1px 1px 1px #56ba9d, inset -1px -1px 1px #56ba9d;
}

.first_form_wrapper_remember-password {
  font-size: 12px;
  color: #1b6fb6;
  text-align: right;
  padding: 14px 0 28px;
  text-decoration: underline;
}

.second_form {
  width: 334px;
  height: 284px;
  background: #fff;
  padding: 9px 16px 13px 14px;
  box-shadow: 0.1px 3px 3px #888888, -0.1px -0.1px 3px #888888;
}

.second_wrapper {
  border: 2px dashed #fbdb98;
  padding-left: 35px;
}

.second_wrapper_title {
  color: #5a5a5a;
  font-size: 18px;
  padding: 27px 0 10px;
  font-weight: 700;
}

.second_wrapper_text {
  font-size: 12px;
  line-height: 16px;
  color: #0d0d0d;
  font-weight: 700;
  padding-bottom: 14px;
}

.second_checkbox {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
}

.second_checkbox label {
  font-size: 12px;
  color: #525252;
}

.second_checkbox_radio {
  margin: 0 0 6px 16px;
  position: relative;
  display: flex;
}

.second_checkbox_radio input[type="radio"] {
  display: none;
}

.second_checkbox_radio label {
  cursor: pointer;
}

.second_checkbox_radio label::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url(../img/radio.png) -1px 100% no-repeat;
  position: absolute;
  left: -15px;
}

.second_checkbox_radio input:checked+label::before {
  background-position: -1px 4%;
}

.second_buttons {
  padding: 13px 0 25px;
}

.second_buttons_button {
  width: 80px;
  height: 32px;
  font-size: 12px;
  color: #535353;
  border: 1px solid #cecece;
  border-radius: 4px;
  font-weight: 700;
  background: linear-gradient(to bottom, #fcfcfc, #eeeeee);
}

.second_buttons_link {
  font-size: 12px;
  color: #535353;
  text-decoration: underline;
  margin-left: 50px;
}

.third_form {
  width: 382px;
  height: 384px;
  background: #fff;
  box-shadow: 0.1px 3px 3px #8b8b8b, -0.1px -0.1px 3px #8b8b8b;
  display: flex;
  flex-direction: column;
  padding: 0 29px 0 33px;
}

.third_form select {
  width: 319px;
  height: 55px;
  background: #c1cfd9;
  margin: 49px 0 20px;
  appearance: none;
  color: #fff;
  font-size: 24px;
  padding-left: 21px;
  border: none;
}

.third_form_title {
  width: 280px;
  height: 34px;
  font-size: 18px;
  color: #dae4eb;
  padding-left: 9px;
  border: 1px solid #dae4eb;
  box-shadow: inset 1px 1px 3px #f6f8fa;
  margin: 0 0 14px 20px;
}

.third_form_title::placeholder {
  color: #dae4eb;
}

.third_wrapper {
  margin: 5px 0 20px 60px;
  position: relative;
  display: flex;
  align-items: center;
}

.third_wrapper input {
  display: none;
}

.third_wrapper label::before {
  content: "";
  width: 30px;
  height: 30px;
  background: url(../img/form-3_check.png) 0 0 no-repeat;
  position: absolute;
  left: -40px;
  bottom: -8px;
}

.third_wrapper input:checked+label::before {
  background-position: 0 -40px;
}

.third_form_buttons {
  display: flex;
  justify-content: space-between;
}

.third_form_buttons {
  padding: 11px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.third_form_buttons.save {
  background: #a8bd44;
}

.third_form_buttons.delete {
  background: #f97e76;
  padding: 11px 11px;
}