/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  background: #bfbfbf;
  font-family: verdana, arial, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

form {
  margin-top: 50px;
}

.first_form {
  width: 293px;
  height: 230px;
  background: -webkit-gradient(linear, left top, right top, from(#dbf1fa), to(#e7f6fc));
  background: -o-linear-gradient(left, #dbf1fa, #e7f6fc);
  background: linear-gradient(to right, #dbf1fa, #e7f6fc);
  padding: 22px 30px;
  -webkit-box-shadow: 0.1px 3px 3px #888888, -0.1px -0.1px 3px #888888;
  box-shadow: 0.1px 3px 3px #888888, -0.1px -0.1px 3px #888888;
}

.first_form_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url(../img/border.png) 0 0 no-repeat;
  padding-left: 38px;
}

.first_form_wrapper_title {
  font-size: 20px;
  font-style: italic;
  color: #787878;
  padding: 33px 0 14px;
  position: relative;
}

.first_form_wrapper_title::before {
  content: "";
  width: 26px;
  height: 17px;
  right: 204px;
  background: url(../img/ic-key.png) 50% 6px no-repeat;
  position: absolute;
}

.first_form_wrapper_title a {
  font-size: 16px;
  font-style: normal;
  color: #1b6fb6;
  text-decoration: underline;
}

.first_form_wrapper label {
  font-size: 14px;
  color: #787878;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.first_form_wrapper :nth-child(3) {
  margin-top: 10px;
}

.first_form_wrapper_login, .first_form_wrapper_password {
  width: 135px;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#ebecf0, #f6f7f8));
  background: -o-linear-gradient(#f6f7f8 #ebecf0);
  background: linear-gradient(#f6f7f8 #ebecf0);
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px #d0d6dc, inset -1px -1px 1px #f2f2f5;
  box-shadow: inset 1px 1px 1px #d0d6dc, inset -1px -1px 1px #f2f2f5;
  border-radius: 3px;
}

.first_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.first_input_checkbox {
  display: none;
}

.first_checkbox label::before {
  content: "";
  width: 17px;
  height: 16px;
  margin-right: 2px;
  background: url(../img/check.png) 0 0 no-repeat;
}

.first_checkbox input:checked+label::before {
  background-position: 0 -32px;
}

.first_form_wrapper_send {
  width: 72px;
  height: 25px;
  margin-left: 31px;
  color: #fff;
  border: 1px solid #4c726f;
  border-radius: 3px;
  background: #2da683;
  -webkit-box-shadow: inset 1px 1px 1px #56ba9d, inset -1px -1px 1px #56ba9d;
  box-shadow: inset 1px 1px 1px #56ba9d, inset -1px -1px 1px #56ba9d;
}

.first_form_wrapper_remember-password {
  font-size: 12px;
  color: #1b6fb6;
  text-align: right;
  padding: 14px 0 28px;
  text-decoration: underline;
}

.second_form {
  width: 334px;
  height: 284px;
  background: #fff;
  padding: 9px 16px 13px 14px;
  -webkit-box-shadow: 0.1px 3px 3px #888888, -0.1px -0.1px 3px #888888;
  box-shadow: 0.1px 3px 3px #888888, -0.1px -0.1px 3px #888888;
}

.second_wrapper {
  border: 2px dashed #fbdb98;
  padding-left: 35px;
}

.second_wrapper_title {
  color: #5a5a5a;
  font-size: 18px;
  padding: 27px 0 10px;
  font-weight: 700;
}

.second_wrapper_text {
  font-size: 12px;
  line-height: 16px;
  color: #0d0d0d;
  font-weight: 700;
  padding-bottom: 14px;
}

.second_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 17px;
}

.second_checkbox label {
  font-size: 12px;
  color: #525252;
}

.second_checkbox_radio {
  margin: 0 0 6px 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second_checkbox_radio input[type="radio"] {
  display: none;
}

.second_checkbox_radio label {
  cursor: pointer;
}

.second_checkbox_radio label::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url(../img/radio.png) -1px 100% no-repeat;
  position: absolute;
  left: -15px;
}

.second_checkbox_radio input:checked+label::before {
  background-position: -1px 4%;
}

.second_buttons {
  padding: 13px 0 25px;
}

.second_buttons_button {
  width: 80px;
  height: 32px;
  font-size: 12px;
  color: #535353;
  border: 1px solid #cecece;
  border-radius: 4px;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eeeeee));
  background: -o-linear-gradient(top, #fcfcfc, #eeeeee);
  background: linear-gradient(to bottom, #fcfcfc, #eeeeee);
}

.second_buttons_link {
  font-size: 12px;
  color: #535353;
  text-decoration: underline;
  margin-left: 50px;
}

.third_form {
  width: 382px;
  height: 384px;
  background: #fff;
  -webkit-box-shadow: 0.1px 3px 3px #8b8b8b, -0.1px -0.1px 3px #8b8b8b;
  box-shadow: 0.1px 3px 3px #8b8b8b, -0.1px -0.1px 3px #8b8b8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 29px 0 33px;
}

.third_form select {
  width: 319px;
  height: 55px;
  background: #c1cfd9;
  margin: 49px 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  font-size: 24px;
  padding-left: 21px;
  border: none;
}

.third_form_title {
  width: 280px;
  height: 34px;
  font-size: 18px;
  color: #dae4eb;
  padding-left: 9px;
  border: 1px solid #dae4eb;
  -webkit-box-shadow: inset 1px 1px 3px #f6f8fa;
  box-shadow: inset 1px 1px 3px #f6f8fa;
  margin: 0 0 14px 20px;
}

.third_form_title::-webkit-input-placeholder {
  color: #dae4eb;
}

.third_form_title::-moz-placeholder {
  color: #dae4eb;
}

.third_form_title:-ms-input-placeholder {
  color: #dae4eb;
}

.third_form_title::-ms-input-placeholder {
  color: #dae4eb;
}

.third_form_title::placeholder {
  color: #dae4eb;
}

.third_wrapper {
  margin: 5px 0 20px 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.third_wrapper input {
  display: none;
}

.third_wrapper label::before {
  content: "";
  width: 30px;
  height: 30px;
  background: url(../img/form-3_check.png) 0 0 no-repeat;
  position: absolute;
  left: -40px;
  bottom: -8px;
}

.third_wrapper input:checked+label::before {
  background-position: 0 -40px;
}

.third_form_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.third_form_buttons {
  padding: 11px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.third_form_buttons.save {
  background: #a8bd44;
}

.third_form_buttons.delete {
  background: #f97e76;
  padding: 11px 11px;
}

.forth_form {
  width: 328px;
  background: #e9e6e6;
  padding: 21px 32px 24px 30px;
  -webkit-box-shadow: 0.1px 3px 3px #8b8b8b, -0.1px -0.1px 3px #8b8b8b;
  box-shadow: 0.1px 3px 3px #8b8b8b, -0.1px -0.1px 3px #8b8b8b;
  display: -webkit-box;
  display: -ms-flexbox;
}

.forth_form_wrapper {
  background: #fff;
  border-radius: 3px;
  padding: 24px 19px 19px;
}

.forth_form_wrapper_title {
  font-size: 16px;
  font-weight: 700;
  font-family: arial, sans-serif;
  color: #475965;
  text-transform: uppercase;
}

.forth_form_wrapper_username, .forth_form_wrapper_password {
  position: relative;
}

.forth_form_wrapper_username input, .forth_form_wrapper_password input {
  padding: 12px 0 12px 58px;
  font-size: 13px;
  color: #ced6dc;
  border: 1px solid #ced6dc;
}

.forth_form_wrapper_username input:focus, .forth_form_wrapper_password input:focus {
  border: 1px solid #959fa9;
  color: #959fa9;
}

.forth_form_wrapper_username input {
  margin: 35px 0 17px;
}

.forth_form_wrapper_username input::-webkit-input-placeholder, .forth_form_wrapper_password input::-webkit-input-placeholder {
  color: #ced6dc;
}

.forth_form_wrapper_username input::-moz-placeholder, .forth_form_wrapper_password input::-moz-placeholder {
  color: #ced6dc;
}

.forth_form_wrapper_username input:-ms-input-placeholder, .forth_form_wrapper_password input:-ms-input-placeholder {
  color: #ced6dc;
}

.forth_form_wrapper_username input::-ms-input-placeholder, .forth_form_wrapper_password input::-ms-input-placeholder {
  color: #ced6dc;
}

.forth_form_wrapper_username input::placeholder, .forth_form_wrapper_password input::placeholder {
  color: #ced6dc;
}

.forth_form_wrapper_username::before, .forth_form_wrapper_password::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  z-index: 100;
}

.forth_form_wrapper_username::before {
  background: url(../img/ic-login.png) 0 0 no-repeat;
  margin: 46px 0 0 13px;
}

.forth_form_wrapper_password::before {
  margin: 14px 0 0 16px;
  background: url(../img/ic-password.png) 0 0 no-repeat;
}

.forth_form_wrapper_username::after, .forth_form_wrapper_password::after {
  content: "";
  width: 1px;
  height: 39px;
  right: 180px;
  border-right: 1px solid #ced6dc;
  position: absolute;
  z-index: 101;
}

.forth_form_wrapper_username::after {
  margin-top: -57px;
}

.forth_form_wrapper_password::after {
  margin-top: -40px;
}

.forth_form_wrapper_username input:focus+.forth_form_wrapper_username::after, .forth_form_wrapper_username input:focus+.forth_form_wrapper_password::after {
  border-right: 1px solid #959fa9;
}

.forth_form_wrapper_sign {
  width: 228px;
  height: 40px;
  color: #fff;
  background: #21b8c6;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  margin: 23px 0 18px;
}

.forth_form_wrapper_link {
  font-size: 13px;
  color: #7d8e9a;
  text-decoration: none;
  padding-bottom: 3px;
}

.forth_form_wrapper_link span {
  color: #475965;
  position: relative;
}

.forth_form_wrapper_link span::after {
  content: "";
  width: 14px;
  height: 10px;
  background: url(../img/ic-arrow.png) 0 0 no-repeat;
  position: absolute;
  margin: 5px 0 0 14px;
}

.container:last-child {
  margin-bottom: 50px;
}